<?xml version="1.0"?>
<root main_tree_to_execute="BehaviorTree">
    <!-- ////////// -->
    <BehaviorTree ID="BehaviorTree">
        <Sequence name="ReadActualJointpos">
            <Action ID="InitializeArm"/>
            <Action ID="IsPowerOn" timeout_ms="5000"/>
            <Sequence>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="-200,615.13,405.89,0,3.1415926,0" speed="1000"/>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="-200,615.13,805.89,0,3.1415926,0" speed="1000"/>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="400,615.13,805.89,0,3.1415926,0" speed="1000"/>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="400,615.13,405.89,0,3.1415926,0" speed="1000"/>
            </Sequence>
            <Sequence>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="400,615.13,805.89,0,3.1415926,0" speed="1000"/>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="-200,615.13,805.89,0,3.1415926,0" speed="1000"/>
                <Action ID="GetJointActualPos" jointpos="{jointpos}" timeout_ms="5000"/>
                <Action ID="ArmMoveL" acc="800" jerk="1600" jointpos="{jointpos}" pose="-200,615.13,405.89,0,3.1415926,0" speed="1000"/>
            </Sequence>
        </Sequence>
    </BehaviorTree>
    <!-- ////////// -->
    <TreeNodesModel>
        <Action ID="ArmMoveL">
            <input_port name="acc" type="std::string"/>
            <input_port name="jerk" type="std::string"/>
            <input_port name="jointpos" type="std::string"/>
            <input_port name="pose" type="std::string"/>
            <input_port name="speed" type="std::string"/>
        </Action>
        <Action ID="GetJointActualPos">
            <output_port name="jointpos" type="std::string"/>
            <input_port name="timeout_ms" type="std::string"/>
        </Action>
        <Action ID="InitializeArm"/>
        <Action ID="IsPowerOn">
            <input_port name="timeout_ms" type="std::string"/>
        </Action>
        <Action ID="PowerOn"/>
    </TreeNodesModel>
    <!-- ////////// -->
</root>
